<h1>******** Now your result ********</h1>

<h3>Your word: <%= params[:attempt] %></h3>
<h3>Time Taken to answer: <%= @result[:time].to_i %></h3>
<h3>Translation: <%= @result[:translation] %></h3>
<h3>Your score: <%= @result[:score] %></h3>
<h3>Message: <%= @result[:message] %></h3>
